@use './mixins.scss' as *;
:root {
  --text-light-primary: #fff;
  --text-light-secondary: rgba(255, 255, 255, 0.6);
  --text-light-tertiary: rgba(255, 255, 255, 0.3);

  --text-dark-primary: #0a0a0a;
  --text-dark-secondary: rgba(10, 10, 10, 0.6);
  --text-dark-tertiary: rgba(10, 10, 10, 0.3);

  --accent-primary-default: #0a0a0a;
  --accent-primary-hover: #ccb076;
  --accent-secondary-default: #fff;
  --accent-secondary-hover: #ccb076;

  --bg-cta: #e1e0dc;

  --bg-light-light: #f1f1f1;
  --bg-light-extralight: #f6f6f6;
  --bg-light-white: #fff;
  --bg-light-10: rgba(255, 255, 255, 0.1);

  --bg-dark-dark: #0a0a0a;
  --bg-dark-lightdark: #151515;
  --bg-dark-10: rgba(10, 10, 10, 0.05);

  --stroke-light-100: #fff;
  --stroke-light-50: rgba(255, 255, 255, 0.5);
  --stroke-light-25: rgba(255, 255, 255, 0.25);
  --stroke-light-25: rgba(255, 255, 255, 0.25);
  --stroke-light-10: rgba(255, 255, 255, 0.1);

  --stroke-dark-100: #0a0a0a;
  --stroke-dark-50: rgba(10, 10, 10, 0.5);
  --stroke-dark-25: rgba(10, 10, 10, 0.25);
  --stroke-dark-15: rgba(10, 10, 10, 0.15);
  --stroke-dark-10: rgba(10, 10, 10, 0.1);

  --systemStates-error: #fe3838;

  --disabled-light-30: rgba(255, 255, 255, 0.3);
  --disabled-light-20: rgba(255, 255, 255, 0.2);
  --disabled-light-10: rgba(255, 255, 255, 0.1);

  --disabled-dark-30: rgba(0, 0, 0, 0.3);
  --disabled-dark-20: rgba(10, 10, 10, 0.2);
  --disabled-dark-10: rgba(0, 0, 0, 0.1);

  --Radius-btn: 0.8rem;

  // Paddings
  --main-pd-top: 8rem;
  --wrapper-pd-inl: 10rem;
  --section-pd: 12rem;

  // Fonts
  @include breakpoint($lp-bp) {
    --main-pd-top: 6.6rem;
    --wrapper-pd-inl: 8rem;
    --section-pd: 10rem;
  }

  @include breakpoint($md-bp) {
    --main-pd-top: 7.4rem;
    --wrapper-pd-inl: 4rem;
    --section-pd: 7rem;
  }

  @include breakpoint($sm-bp) {
    --main-pd-top: 7.4rem;
    --wrapper-pd-inl: 1.5rem;
    --section-pd: 4.5rem;
  }
}
